* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    padding-bottom: 5px;
}

h2 {
    font-size: 30px;
    padding-bottom: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.banner {
    background-image: url(img/99.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    color: wheat;
    text-align: center;
    background-size: cover;
}

.banner_content {
    padding-top: 89px;
}


.banner_button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
}
.banner_button:hover {
    color:black;
    background-color: white;
    cursor: pointer;
}
.donate_text {
    text-align: center;
    margin-top: 5%;
}

.donate_amount {
    display: flex;
    margin: 15px;
    justify-content: center;
}
.amount {
    padding: 10px;
    background-color: aqua;
    margin-right: 15px;
    border: 1px #8b4cf7 solid;
    cursor: pointer;
}

.active {
    background-color: blue;
    color: white;
}

#input-amount {
    width: 35%;
    border: none;
    border-bottom: 1px #8b4cf7 solid;
    margin-top: 15px;
    margin-right: 12px;
}
.amount-button {
    padding: 10px;
    margin: 5px;
    background-color: red;
    color: blanchedalmond;
    border: none;
    cursor: pointer;
}
.amount-button:hover {
    background-color: black;
    color: rgb(247, 244, 244);
}
footer {
    text-align: center;
    background-color: #05000c;
    height: 50px;
    padding-top: 28px;
    color: white;
}
.donation-plan {
    text-align: center;
    margin-top: 5%;
}
.donation-types {
    display: flex;
    justify-content: center;
    margin-right: 15px;
    padding-left: 10px;
    margin: 0;
    margin-top: 25px;
    margin-right: -5px;
   
}
.donation-type {
    border: 2px burlywood solid;
    margin-right: 15px;
    padding: 10px;
    background-color: #44b4f5;
    height: 245px;
    border: none;
}
.Gallary {
    text-align: center;
    margin-top: 5%;
}
.gallery-row {
    display: flex;
    margin-right: -29px;
}
.gallery-row img {
    width: 23%;
    padding: 5px;
    margin: 5px;
   
}
.hp {
    margin-bottom: 1%;
}